## Questions On map(), filter() and reduce() Function

#### Arasalan Shaikh
#### Linkedin : https://www.linkedin.com/in/arasalanshaikh/
#### W3School for questions

#### 1) Write a Python program to triple all numbers of a given list of integers. Use Python map

In [1]:
list_int = [i for i in range(1, 11)]
list_int

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
def int_trippler(l):
    return list(map(lambda x: x*3, l))

int_trippler(list_int)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

#### 2) Write a Python program to add three given lists using Python map and lambda

In [3]:
list1 = [i for i in range(1, 10)]
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
list2 = [i for i in range(11, 20)]
list2

[11, 12, 13, 14, 15, 16, 17, 18, 19]

In [5]:
list3 = [i for i in range(21, 30)]
list3

[21, 22, 23, 24, 25, 26, 27, 28, 29]

In [6]:
def list_addition(l1, l2, l3):
    return list(map(lambda x, y, z: x+y+z, l1, l2, l3))

list_addition(list1, list2, list3)

[33, 36, 39, 42, 45, 48, 51, 54, 57]

#### 3) Write a Python program to create a list containing the power of said number in bases raised to the corresponding number in the index using Python map.

In [7]:
base_list = [i for i in range(10, 101, 10)]
base_list

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [8]:
index_list = [i for i in range(1, 11)]
index_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
def custom_power(base, index):
    return list(map(pow, base, index))
                
custom_power(base_list, index_list)

[10,
 400,
 27000,
 2560000,
 312500000,
 46656000000,
 8235430000000,
 1677721600000000,
 387420489000000000,
 100000000000000000000]

#### 5) Write a Python program to square the elements of a list using map() function

In [10]:
list_int = [i for i in range(1, 11)]
list_int

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
def square_calc(l):
    return list(map(lambda x: x ** 2, l))

square_calc(list_int)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#### 6) Write a python program to convert all the characters in uppercase and lowercase and eliminate duplicate letters also sort list from a given sequence. Use map() function.

In [12]:
list_char = ["a", "B", "c", "d", "A", "P", "p", "z"]
def case_changer_dup_remover(l):
    return sorted(list(set(map(lambda x: (str(x).lower(), str(x).upper()), l))))

case_changer_dup_remover(list_char)

[('a', 'A'), ('b', 'B'), ('c', 'C'), ('d', 'D'), ('p', 'P'), ('z', 'Z')]

#### 7) Write a Python program to add two given lists and find the difference between lists. Use map() function

In [13]:
list1 = [i for i in range(1, 11)]
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [14]:
list2 = [i for i in range(10, 21)]
list2

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [15]:
def list_add_sub(l1, l2):
    return list(map(lambda x, y: (x+y, y-x), l1, l2))

list_add_sub(list1, list2)

[(11, 9),
 (13, 9),
 (15, 9),
 (17, 9),
 (19, 9),
 (21, 9),
 (23, 9),
 (25, 9),
 (27, 9),
 (29, 9)]

#### 8) Write a Python program to convert a given list of integers in a list and tuple of strings.

In [16]:
l_int = [i for i in range(1, 11)]
l_int

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [17]:
def stringify_list(l):
    return list(map(lambda x: str(x), l))

stringify_list(l_int)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [18]:
def stringify_list_into_tuple(l):
    return tuple(map(lambda x: str(x), l))

stringify_list_into_tuple(l_int)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

#### 9) Write a Pyton program to create a new list taking specific elements from a tuple and convert a string value to integer.

In [19]:
employee_data = [("Krish Naik", "15/05/1988", "65kg"), ("Sudhanshu Kumar", "17/05/1986", "77kg"), ("Navin Reddy", "16/02/1989", "69kg"), ("Sunny Savita", "25/09/1990", "65kg")]

In [20]:
employee_name = list(map(lambda x: x[0], employee_data))
employee_name

['Krish Naik', 'Sudhanshu Kumar', 'Navin Reddy', 'Sunny Savita']

In [21]:
employee_dob = list(map(lambda x: x[1], employee_data))
employee_dob

['15/05/1988', '17/05/1986', '16/02/1989', '25/09/1990']

In [22]:
employee_weight = list(map(lambda x: int(x[2][:2]), employee_data))
employee_weight

[65, 77, 69, 65]

#### 10) Write a Python program to compute the square of first N Fibonacci numbers, using map function and generate a list of the numbers.

In [23]:
import itertools as it

def fib(x=0, y=1):
    yield x
    while True:
        yield y
        x, y = y, x + y
no_of_iterations = 12
l = list(it.islice(fib(), no_of_iterations))

square_fibonacci = list(map(lambda x: x ** 2, l))
square_fibonacci

[0, 1, 1, 4, 9, 25, 64, 169, 441, 1156, 3025, 7921]

#### 11) Write a Python program to compute the sum of elements of a given array of integers, use map() function

In [24]:
l_int = [i for i in range(1, 101)]

In [25]:
from array import array as arr
def add(num_array):
    sum = 0
    for i in num_array:
        sum += i
    return sum

num = arr("i", l_int)

num_array = list(map(int, num))
add(num_array)

5050

#### 12) Write a puython program to find the ration of postive numbers, negative number and zeros in an array

In [26]:
num = arr("i", [1, 2, -2, -3, 0, 5, 6, 7, 8, -7, 0, -5, 99, -101, -89, 0, 89])
len(num)

17

In [27]:
def ratio_calc(num):
    n_pos = n_neg = n_zero = 0
    n = len(num)
    for x in num:
        if x == 0:
            n_zero += 1
        elif x > 0:
            n_pos += 1
        elif x < 0:
            n_neg += 1
    return "ratio of positive numbers : {}, negative numbers : {} and zeroes : {}".format(round(n_pos/n, 2), round(n_neg/n, 2), round(n_zero/n, 2))

int_array = list(map(int, num))
ratio_calc(int_array)

'ratio of positive numbers : 0.47, negative numbers : 0.35 and zeroes : 0.18'

#### 13) Write a Python program to count the same pair in two given lists. use map() function.

In [28]:
import random
l1 = [random.randrange(1, 10) for i in range(11)]
l1

[7, 6, 4, 7, 9, 7, 1, 2, 6, 6, 9]

In [29]:
l2 = [random.randrange(1, 10) for i in range(11)]
l2

[8, 2, 4, 8, 5, 2, 3, 8, 5, 9, 4]

In [30]:
from operator import eq

def count_same_pair(list1, list2):
    return sum(map(eq, l1, l2))

count_same_pair(l1, l2)

1

#### 14) Write a Python program to interleave two given list into another list randomly using map() function.

In [31]:
import random
l1 = [random.randint(1, 20) for i in range(11)]
l2 = [random.randint(1, 20) for i in range(11)]

In [32]:
print(l1)
print(l2)

[5, 13, 11, 14, 7, 6, 18, 15, 5, 16, 14]
[20, 4, 18, 17, 10, 4, 18, 13, 20, 7, 14]

In [33]:
def interleave_list(list1, list2):
    """
    This functions adds two list elements in random sequence
    """
    return list(map(next, random.sample([iter(list1)]*len(list1) + [iter(list2)]*len(list2), len(list1)+len(l2))))
                
interleave_list(l1, l2)

[5,
 13,
 20,
 4,
 11,
 14,
 18,
 7,
 6,
 17,
 18,
 10,
 4,
 18,
 15,
 5,
 13,
 16,
 20,
 7,
 14,
 14]

#### 15) Write a Python programa to split a given dictionary of lists into list of ductionaries using map function.

In [34]:
dict1 = {"Name" : ["Krish", "Sudhanshu", "Navin"], "Surname" : ["Naik", "Kumar", "Reddy"]}

In [35]:
def dict_list_of_dict(dict1):
    return list(map(dict, zip(*[[(key, val) for val in value] for key, value in dict1.items()])))
dict_list_of_dict(dict1)

[{'Name': 'Krish', 'Surname': 'Naik'},
 {'Name': 'Sudhanshu', 'Surname': 'Kumar'},
 {'Name': 'Navin', 'Surname': 'Reddy'}]

#### 16) Write a Python program to convert a given list of strings into list of lists using map function.

In [36]:
l_courses = ["DL", "ML", "NLP", "CV"]

def list_of_list(l):
    return list(map(list, l))

list_of_list(l_courses)

[['D', 'L'], ['M', 'L'], ['N', 'L', 'P'], ['C', 'V']]

#### 17) Write a Python program to convert a given list of tuples to a list of strings using map function.

In [37]:
mentors = [("Krish", "Naik"), ("Sudhanshu", "Kumar"), ("Navin", "Reddy"), ("Hitesh", "Choudhary")]

def ListofTuples_to_ListofStrings(l):
    return list(map(lambda x: x[0] + " " + x[1], l))

ListofTuples_to_ListofStrings(mentors)

['Krish Naik', 'Sudhanshu Kumar', 'Navin Reddy', 'Hitesh Choudhary']

#### 18) Write a Python program to filter a lisdt of integers using filter function.

In [38]:
lint = [i for i in range(1, 11)]

def even_filter(l):
    return list(filter(lambda x: x % 2 == 0, l))

even_filter(lint)

[2, 4, 6, 8, 10]

In [39]:
def odd_filter(l):
    return list(filter(lambda x: x % 2 != 0, l))

odd_filter(lint)

[1, 3, 5, 7, 9]

#### 19) Write a Python program to find intersection of two arrays using dFilter function.

In [40]:
l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l2 = [2, 4, 6, 8, 11, 12]

def intersection(list1, list2):
    return list(filter(lambda x: x in list1, list2))

intersection(l1, l2)

[2, 4, 6, 8]

#### 20) Write a Python program to count the even, odd numbers in a given array of integers using filter function.

In [41]:
import random
def count_Even_Odd(l):
    even = len(list(filter(lambda x: x % 2 == 0, l)))
    
    print("Count of Even number in given list if : ", even)
    print("Count of Odd number in given list if : ", len(l) - even)
    
list_num = [random.randrange(1, 50) for i in range(10)]
list_num

[30, 42, 11, 39, 46, 29, 41, 45, 3, 30]

In [42]:
count_Even_Odd(list_num)

Count of Even number in given list if :  4
Count of Odd number in given list if :  6

#### 21) Write a Python program to find palindromes in a given list of strings using filter function.

In [43]:
l_word = ["php", "w3r", "Python", "abcd", "Java", "aaa"]

def palindrome_filter(l):
    return list(filter(lambda x : x if x == x[::-1] else "", l))
    
palindrome_filter(l_word)

['php', 'aaa']

#### 22) Write a Python program to find all anagrams of a string in a given list of strings using filter function.

In [44]:
l = ["wxyz", "wxye", "zywx", "zxew", "yzxw"]

from collections import Counter

def anagrans_filter(main_string, list_words):
    return list(filter(lambda x: x if Counter(main_string) == Counter(x) else "", list_words))
anagrans_filter("wxyz", l)

['wxyz', 'zywx', 'yzxw']

#### 23) Write a Python program to calculate the product of a given list of numbers using reduce function.

In [45]:
from functools import reduce

l = [i for i in range(1, 11)]

def product_reduce(l_int):
    return reduce(lambda x, y: x*y, l_int)

product_reduce(l)

3628800

#### 24) Write a Python program to calculate the sum of numbers in a given list of numbers using reduce function.

In [46]:
l_num = [i for i in range(10, 21)]

def sum_reduce(l_int):
    return reduce(lambda x, y: x + y, l_int)

sum_reduce(l_num)

165

#### 25) Write a Python program to multiply all the numbers in a given list using reduce function.

In [51]:
l = [4, 3, 2, 2, -1, 10]
l1 = [2, 2, 4, 12, 6.6, 8.1, 8.3]

def multiply_reduce(l_int):
    return round(reduce(lambda x, y: x*y, l_int), 2)

In [52]:
multiply_reduce(l)

-480

In [53]:
multiply_reduce(l1)

85193.86